body {
    text-align: center;
    margin: 0px;

}

form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
}

textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
    padding: 4px;
}

.section-title {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.black-background {
    color: white;
    background-color: black;
}

.container {
    margin-right: 27%;
    margin-left: 27%;
}

.paragraph {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section {

    padding-top: 100px;
    padding-bottom: 100px;
}

.custom-width {
    min-width: 500px;
}

.email-input {
    height: 24px;
}

.message-input {
    height: 40px;
}

.opaque-bg {
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: color;
}

.opaque-bg-white {
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: color;
}

@media (max-width: 480px) {
    .margin {
        margin-right: 5%;
        margin-left: 5%;
    }

    .paragraph {
        font-size: 14px;
    }

    .section-title {
        font-size: 20px;
    }

    .custom-width {
        min-width: 300px;
    }
    
    .email-input {
        height: 20px;
    }
    
    .message-input {
        height: 34px;
    }
}